// include compass
@import "compass";
html{
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: 'lucida console', 'lucida grande', Arial, sans-serif, Helvetica;
  margin: 0;
  padding: 0;
  * {
    box-sizing: border-box;
  }
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
#nav, main, #footer {
  margin: auto !important;
  max-width: 90%;
  min-width: 640px;
}
.clearfix{ //
  @include clearfix;
}
#container {
  box-sizing: border-box;
  height: 100%;
}
.floatLeft{
  float: left;
}

.floatRight{
  float: right;
}

footer {
  background-color: #efefef;
}

#footer {
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
}

#main {
  min-height: 100%;
  margin-bottom: -60px;
  padding: 0 10px 60px;
}

nav {
  background-color: #eaebec;
}
.halfWide{
  width: 50%;
}
.offsetVertical10, section {
  padding-top: 10px;
  padding-bottom: 10px;
}

nav {
  margin: auto -10px;
  padding: 10px;
}

li{
  line-height: 1.5em;
}