// include compass
@import "compass";
html{
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: 'lucida console', 'lucida grande', Arial, sans-serif, Helvetica;
  margin: 0;
  padding: 0;
  * {
    box-sizing: border-box;
  }
}
a{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
.box{
  border-radius: 4px;
  display: inline-block;
  padding: 20px 30px;
  &[role="admin"]{
    background-color: lightskyblue;
  }
  &[role="spectator"]{
    background-color: lightgreen;
  }
}
button{
  margin-top: 6px;
  padding: 6px 16px;
}
.clearfix{ //
  @include clearfix;
}
#container {
  box-sizing: border-box;
  height: 100%;
}
.error_box{
  background-color: rgb(255, 220, 220);
  @include border-radius(6px);
  @include opacity(0.4);
  display: table;
  margin-top: 20px;
  padding: 24px;
  &:hover{
    cursor: default;
    @include opacity(1);
  }
}
.error_link{
  border-bottom: dotted 2px;
  color: darkred;
  cursor: pointer;
  display: inline-block;
  margin: 10px 0;
  padding: 10px 0px 5px 0px;
}
.floatLeft{
  float: left;
}
.floatRight{
  float: right;
}
footer {
  background-color: #efefef;
}
#footer {
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
}
#hall-places-area{
  box-shadow: 0 0 0 4px rgba(0,0,0,0.3);
  border-radius: 2px;
  z-index: 1;
  button{
    clear: both;
    display: block;
    margin: 12px auto 0;
  }
  h4{
    margin: 4px auto 12px 4px;
  }
  label{
    float: left;
    margin-right: 24px;
    min-width: 46px;
    padding: 2px 4px 2px 0;
    white-space: nowrap;
  }
}
.halfWide{
  width: 50%;
}
.hidden{
  display: none;
}
li{
  line-height: 1.5em;
}
.light_green{
  th{
    background-color: #EAF5FD !important;
  }
}
#main {
  min-height: 100%;
  margin-bottom: -60px;
  padding: 0 10px 60px;
}
nav {
  background-color: #eaebec;
}
#nav, main, #footer {
  margin: auto !important;
  max-width: 90%;
  min-width: 640px;
}
nav {
  margin: auto -10px;
  padding: 10px;
}
.offsetVertical10, section {
   padding-top: 10px;
   padding-bottom: 10px;
}
.showplace{
  background-color: white;
  display: none;
  margin-right: 24px;
  padding: 14px;
  position: absolute;
}
table{
  border: solid 2px #ccc;
  border-spacing: 0px;
  border-collapse: separate;
  min-width: 50%;
  &.db_table_add{
    width: 100%;
  }
  &.db_table{
    tr{
      td{
        &:last-child{
          color: red;
          cursor: pointer;
          text-align: center;
          &:hover{
            background-color: lightpink;
          }
        }
      }
    }
  }
  tr{
    td{
      &:first-child{
        text-align: right;
      }
    }
  }
  td, th{
    border-bottom: solid 1px #ccc;
    border-right: solid 1px #ccc;
    padding: 3px 5px;
  }
  &.db_table{
    th{
      background-color: #eaebec;
    }
  }
  &.db_table_add{
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    textarea{
      width: 100%;
    }
  }
  &.user_table{
    tr {
      &.header{
        &.cinema{
          background-color: #FFECFC;
          td{
            font-weight: bold;
            padding: 5px 8px;
          }
          th{
            background-color: transparent;
          }
        }
      }
      th{
        background-color: #eaebec;
        padding: 7px;
        text-align: left;
      }
      td{
        text-align: left;
        padding: 4px 8px 4px 18px;
      }
    }
  }
}
#vertical-menu{
  background-color: lightyellow;
  border-radius: 6px;
  padding: 0 20px 20px 0;
  width: 30%;
  li{
    line-height: 1.2em;
    margin: 7px auto;
  }
}
#user-content{
  width:70%;
  h3:first-child{
    margin-top: 0;
  }
}
#user-form{
  &.order{
    button[type="button"]{
      width: 54px;
    }
  }
}