/* line 3, ../../sass/screen.scss */
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 9, ../../sass/screen.scss */
body {
  height: 100%;
  font-family: 'lucida console', 'lucida grande', Arial, sans-serif, Helvetica;
  margin: 0;
  padding: 0;
}
/* line 14, ../../sass/screen.scss */
body * {
  box-sizing: border-box;
}

/* line 18, ../../sass/screen.scss */
a {
  text-decoration: none;
}
/* line 20, ../../sass/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 24, ../../sass/screen.scss */
.box {
  border-radius: 4px;
  display: inline-block;
  padding: 20px 30px;
}
/* line 28, ../../sass/screen.scss */
.box[role="admin"] {
  background-color: lightskyblue;
}
/* line 31, ../../sass/screen.scss */
.box[role="spectator"] {
  background-color: lightgreen;
}

/* line 35, ../../sass/screen.scss */
button {
  margin-top: 6px;
  padding: 6px 16px;
}

/* line 39, ../../sass/screen.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 42, ../../sass/screen.scss */
#container {
  box-sizing: border-box;
  height: 100%;
}

/* line 46, ../../sass/screen.scss */
.error_box {
  background-color: #ffdcdc;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  display: table;
  margin-top: 20px;
  padding: 24px;
}
/* line 53, ../../sass/screen.scss */
.error_box:hover {
  cursor: default;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 58, ../../sass/screen.scss */
.error_link {
  border-bottom: dotted 2px;
  color: darkred;
  cursor: pointer;
  display: inline-block;
  margin: 10px 0;
  padding: 10px 0px 5px 0px;
}

/* line 66, ../../sass/screen.scss */
.floatLeft {
  float: left;
}

/* line 69, ../../sass/screen.scss */
.floatRight {
  float: right;
}

/* line 72, ../../sass/screen.scss */
footer {
  background-color: #efefef;
}

/* line 75, ../../sass/screen.scss */
#footer {
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
}

/* line 80, ../../sass/screen.scss */
#hall-places-area {
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  z-index: 1;
}
/* line 84, ../../sass/screen.scss */
#hall-places-area label {
  float: left;
  margin-right: 24px;
  min-width: 46px;
  padding: 2px 4px 2px 0;
  white-space: nowrap;
}

/* line 92, ../../sass/screen.scss */
.halfWide {
  width: 50%;
}

/* line 95, ../../sass/screen.scss */
.hidden {
  display: none;
}

/* line 98, ../../sass/screen.scss */
li {
  line-height: 1.5em;
}

/* line 102, ../../sass/screen.scss */
.light_green th {
  background-color: #EAF5FD !important;
}

/* line 106, ../../sass/screen.scss */
#main {
  min-height: 100%;
  margin-bottom: -60px;
  padding: 0 10px 60px;
}

/* line 111, ../../sass/screen.scss */
nav {
  background-color: #eaebec;
}

/* line 114, ../../sass/screen.scss */
#nav, main, #footer {
  margin: auto !important;
  max-width: 90%;
  min-width: 640px;
}

/* line 119, ../../sass/screen.scss */
nav {
  margin: auto -10px;
  padding: 10px;
}

/* line 123, ../../sass/screen.scss */
.offsetVertical10, section {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 127, ../../sass/screen.scss */
.showplace {
  background-color: white;
  display: none;
  margin-right: 24px;
  padding: 14px;
  position: absolute;
}

/* line 134, ../../sass/screen.scss */
table {
  border: solid 2px #ccc;
  border-spacing: 0px;
  border-collapse: separate;
  min-width: 50%;
}
/* line 139, ../../sass/screen.scss */
table.db_table_add {
  width: 100%;
}
/* line 145, ../../sass/screen.scss */
table.db_table tr td:last-child {
  color: red;
  cursor: pointer;
  text-align: center;
}
/* line 149, ../../sass/screen.scss */
table.db_table tr td:last-child:hover {
  background-color: lightpink;
}
/* line 158, ../../sass/screen.scss */
table tr td:first-child {
  text-align: right;
}
/* line 163, ../../sass/screen.scss */
table td, table th {
  border-bottom: solid 1px #ccc;
  border-right: solid 1px #ccc;
  padding: 3px 5px;
}
/* line 169, ../../sass/screen.scss */
table.db_table th {
  background-color: #eaebec;
}
/* line 178, ../../sass/screen.scss */
table.db_table_add input[type="text"],
table.db_table_add input[type="password"],
table.db_table_add input[type="email"],
table.db_table_add input[type="tel"],
table.db_table_add textarea {
  width: 100%;
}
/* line 185, ../../sass/screen.scss */
table.user_table tr.header.cinema {
  background-color: #FFECFC;
}
/* line 187, ../../sass/screen.scss */
table.user_table tr.header.cinema td {
  font-weight: bold;
  padding: 5px 8px;
}
/* line 191, ../../sass/screen.scss */
table.user_table tr.header.cinema th {
  background-color: transparent;
}
/* line 196, ../../sass/screen.scss */
table.user_table tr th {
  background-color: #eaebec;
  padding: 7px;
  text-align: left;
}
/* line 201, ../../sass/screen.scss */
table.user_table tr td {
  text-align: left;
  padding: 4px 8px 4px 18px;
}

/* line 208, ../../sass/screen.scss */
#vertical-menu {
  background-color: lightyellow;
  border-radius: 6px;
  padding: 0 20px 20px 0;
  width: 30%;
}
/* line 213, ../../sass/screen.scss */
#vertical-menu li {
  line-height: 1.2em;
  margin: 7px auto;
}

/* line 218, ../../sass/screen.scss */
#user-content {
  width: 70%;
}
/* line 220, ../../sass/screen.scss */
#user-content h3:first-child {
  margin-top: 0;
}

/* line 226, ../../sass/screen.scss */
#user-form.order button[type="button"] {
  width: 54px;
}
